### Exclude IntelliJ IDEA from GitHub ###
.idea
*.iws
*.iml
*.ipr
*.xml
node_modules
/node_modules/.package-lock.json
/package.json
/package-lock.json
*.pyc
*.xml
*.pyc
*.iml
*.xml
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
cruddy/__pycache__/app_crud.cpython-39.pyc
cruddy/__pycache__/app_crud_api.cpython-39.pyc
cruddy/__pycache__/model.cpython-39.pyc
cruddy/__pycache__/query.cpython-39.pyc
*.pyc
*.pyc
cruddy/__pycache__/model.cpython-39.pyc
cruddy/__pycache__/query.cpython-39.pyc
