<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!DOCTYPE html>

<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/NoahJ214/Team-Aaiaa-Project-Tri-2">{{name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!--root menu -->
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>




            <div class="navbar-nav">
                <!--root menu -->
                <a class="nav-link" href={{ url_for('notes') }}>Notes Page</a>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CRUD
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('crud.crud') }}>SQL CRUD</a></li>
                            <li><a class="dropdown-item" href={{ url_for('crud_api.crud_api') }}>SQL CRUD Async</a></li>
                            <li><a class="dropdown-item" href={{ url_for('crud.search') }}>SQL Search</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav">
                <!--root menu -->
                <a class="nav-link" href="/calendar">Calendar <span class="sr-only"></span></a>


            </div>
<!--            <div class="navbar-nav">

                <a class="nav-link" href="/prizes">Prizes <span class="sr-only"></span></ -->

                </div>
<!--            <div class="navbar-nav">

                <a class="nav-link" href="/viewpoints">View Points <span class="sr-only"></span></a>
-->

            </div>
<!--            <div class="navbar-nav">

                <a class="nav-link" href="/replitlink">Link to Replit Account <span class="sr-only"></span></a>
-->
            </div>
            </li>
        </div>
    </div>
</nav>
</html>