{% include "layouts/layout.html" %}

<style>

    table {
        style: center;
        border: 10px solid #760ce7;
        height: 25rem;
        width: 50rem;
    }

    td {
        style: center;
        border: 5px solid black;
        height: 3rem;
        width: 3rem;
        text-align: center;
    }

    td:hover {
        cursor: pointer;
        background-color: #42e2f4;
    }

    .active {
        background-color: #8cf442;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <title>Hack Club Calendar</title>
</head>
<body style="background-color: powderblue" >

<h1 style="align-content: center">
    See upcoming events for Hack Club!
</h1>

<div>
    <h2 style="align-content: center"> Calendar for 2022-2023 </h2>
    <p1>Month<p1> <input id="monthInput" type="number" value="3" min="1" max="12" placeholder="Month">

        <p1>Year<p1> <input id="yearInput" type="number" value="2021" min="2000" max="2023" placeholder="Year">

</div>
<div id="eventContent"></div>

<table id="Table" style="align-content: center">
    <tr>
        <th class="cell">Sun</th>
        <th class="cell">Mon</th>
        <th class="cell">Tue</th>
        <th class="cell">Wed</th>
        <th class="cell">Thu</th>
        <th class="cell">Fri</th>
        <th class="cell">Sat</th>
    </tr>
    <tr>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td><td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td>
        <td class="cell"></td><td class="cell"></td><td class="cell"></td><td class="cell"></td>
    </tr>
</table>

<script>

    var today = new Date();
    let yearNum = new Date().getFullYear();
    let monthIndex = new Date().getMonth() - 1;
    // DOM and App variables
    const inputMonth = document.getElementById("monthInput");
    const inputYear = document.getElementById("yearInput");
    const table = document.getElementById('Table');
    const eventContent = document.getElementById('eventContent');
    const tableRows = table.children[0].children;
    const range1 = Array.from({length: 6}, (v, i) => i);
    const range2 = Array.from({length: 7}, (v, i) => i);
    const equals = (date1, date2) => {
        return (date1.getFullYear() == date2.getFullYear() &&
            date1.getMonth() == date2.getMonth() &&
            date1.getDate() == date2.getDate())
            ? true : false;
    };
    const events = { 1 : {content: "Summer", year: 2022, month: 6, day: 30},
        2 : {content: "Coding", year: 2022, month: 7, day: 14}
    };

    const getDatesArray = () => { return [
        ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        [[], [], [], [], [], [], []],
        [[], [], [], [], [], [], []],
        [[], [], [], [], [], [], []],
        [[], [], [], [], [], [], []],
        [[], [], [], [], [], [], []],
        [[], [], [], [], [], [], []]
    ];
    };
    const generatorDatesArray = (monthNum, monthIndex, yearNum, datesArray) => {
        let daysCount = new Date(yearNum, monthNum, 0).getDate();
        let yIndex = 1;
        let range = Array.from({length: daysCount}, (v, i) => (i+1));

        for (let i of range) {
            let switchDate = new Date(yearNum, monthIndex, i).getDay();

            const funSwitch = (switchDate) => ({
                0: new Function('yIndex', 'datesArray', 'i', "datesArray[0] = new Date(yearNum, monthIndex, i).getDate(); return yIndex;"),
                1: new Function('yIndex', 'datesArray', 'i', "datesArray[1] = new Date(yearNum, monthIndex, i).getDate(); return yIndex;"),
                2: new Function('yIndex', 'datesArray', 'i', "datesArray[2] = new Date(yearNum, monthIndex, i).getDate(); return yIndex;"),
                3: new Function('yIndex', 'datesArray', 'i', "datesArray[3] = new Date(yearNum, monthIndex, i).getDate(); return yIndex;"),
                4: new Function('yIndex', 'datesArray', 'i', "datesArray[4] = new Date(yearNum, monthIndex, i).getDate(); return yIndex;"),
                5: new Function('yIndex', 'datesArray', 'i', "datesArray[5] = new Date(yearNum, monthIndex, i).getDate(); return yIndex;"),
                6: new Function('yIndex', 'datesArray', 'i', "datesArray[6] = new Date(yearNum, monthIndex, i).getDate(); yIndex++; return yIndex;")
            })[switchDate];

            yIndex = funSwitch(switchDate)(yIndex, datesArray[yIndex], i);
        }

        return datesArray;
    };
    const pushDatesArray = (datesArray) => {
        for (let i in range1) {
            let row = tableRows[i];
            for (let j in range2) {
                let cell = row.children[j];
                cell.innerHTML = datesArray[i][j];
            }
        }
    };

    // Events Bloc
    document.addEventListener('change', (event) => {
        if ( event.target == inputMonth || event.target == inputYear) {
            // Get dates array structure
            let datesArray = getDatesArray();

            // month number from user input
            monthNum = parseInt(inputMonth.value, 10);

            // month index
            monthIndex = monthNum - 1;

            // year number from user input
            yearNum = parseInt(inputYear.value, 10);

            // generate dates to dates array
            datesArray = generatorDatesArray(monthNum, monthIndex, yearNum, datesArray);

            // Push dates array data to html table
            pushDatesArray(datesArray);
        }
    })

    // Bloc for events displayer
    for (let i in range1) {
        let row = tableRows[i];

        for (let j in range2) {
            let cell = row.children[j];

            cell.addEventListener('click', (e) => {
                let day = parseInt(cell.innerHTML, 10);

                let clickedDate = new Date(yearNum, monthIndex, day);

                alert("New event on " + yearNum + " - " + monthIndex + " - " + day);


                for (let i = 1; i <= Object.keys(events).length; i++) {
                    let eventDate = new Date(events[i].year, (events[i].month - 1), events[i].day);

                    if (equals(clickedDate, eventDate) == true) {eventContent.innerHTML = "<p>Event that day : " + events[i].content + "</p>";}
                }
            })
        }
    }
</script>
</body>
</html>