<!-- Extending the project layout, as this file will do minor customizations -->
{% include "layouts/layout.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Hack Club" %}
{% set overview = "https://github.com/KoolKidKai/Siuuuu" %}
<style>
    body {
        background-color: powderblue;
        text-align:center;
        margin-bottom: 0px;

    }
    h {
        color: #bd9d13;
        font-family: verdana;
        font-size: 500%;
        text-align: center;
    }
    p {
        color: red;
        font-family: courier;
        font-size: 250%;
    }
</style>
<body style="background-image: url('/static/dnhs.jpeg'); background-size: 100%">

<h> Welcome to Del Norte Hack Club!</h>
<p>
    Use The Top to Navigate through the Website!
</p>
<img src="static/HackClub.png" alt="HackClub" style="width:50%">
</body>