<!-- Extending the project layout, as this file will do minor customizations -->
{% include "layouts/layout.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Hack Club" %}
{% set overview = "https://github.com/KoolKidKai/Siuuuu" %}
<style>
    body {
        background-color: powderblue;
        margin-bottom: 0px;

    }
    h1 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
    }
    p {
        color: red;
        font-family: courier;
        font-size: 160%;
    }
</style>
<h1> Welcome to Del Norte Hack Club!</h1>
