<!DOCTYPE html>

<html lang="en">
{% include "layouts/layout.html" %}

<head>
    <title>How to Join</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
    </style>
</head>
<body>

<!-- Header -->
<header class="w3-container w3-pale-blue w3-center" style="padding:128px 16px; color: powderblue">
    <h1 class="w3-margin w3-jumbo">How to Join</h1>
    <p class="w3-xlarge">Your intro to DNHS Hack Club</p>
    <form action="https://discord.gg/8dZjP6BDTs">
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Join Here</button>
    </form>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Who are we?</h1>
            <h5 class="w3-padding-32">Hack club is an entirely student run club in Del Norte High School
                that was founded in 2020. We are made up of students who share a common interest in coding
                and understanding the language behind computers</h5>

            <p class="w3-text-grey">Should you want to join the club,
                all you need to do is submit an application via the button above and wait for a response back.
                Meetings are held most Thursday afternoons. Our club leaders, officers and
                teachers all work together to teach our fellow students how to code at any level.
                You too can become a teacher if you excel in our club run projects.</p>
        </div>

        <div class="w3-third w3-center">
            <i class="fa fa-code-fork w3-padding-64 w3-text-powderblue" style="font-size: 200px; color: powderblue"></i>
        </div>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-margin-right" style="color: powderblue"></i>
        </div>

        <div class="w3-twothird">
            <h1>Why should you join?</h1>
            <h5 class="w3-padding-32">Hack Club is a friendly environment where learning can take place regardless of skill level.
            All grades are welcome from Freshman to Seniors. The only requirement is that you are kind to the other members and are ready to learn how to code.</h5>

            <p class="w3-text-grey">Hack Club prides itself on a pressure free environment where students can gain knowledge they need
            for a future full of coding. Together we hold competitions, events and general learning session for all members who may want something different out of the club.
            And if you have a personal project you are working on, our officers and teachers would be glad to help in any way that they can. Join today for a fun club to meet friends, learn coding
            fill up boring Thursday afternoons.</p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity">
</footer>

</body>
</html>
